<!DOCTYPE html>

<html>
  <%= require 'date' %>
  
  <head>
    <title>Date</title>
  </head>
  
  <body>
    <h1>Today</h1>
    <%= datetime = DateTime.now %>
    <p>The date is <%= date.strftime('%A, %B %-d, %Y') %></p>
  </body>
  
</html>