<!DOCTYPE html>
<%= require 'date' %>
<html>
  
  <head>
    <title>Date</title>
  </head>
  
  <body>
    <h1>Today</h1>
    <%= datetime = DateTime.now %>
    <p>The date is <%= "#{"</p>
  </body>
  
</html>